.hall {
	text-align: center;
	padding-bottom: 100px;
}

.hall__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 20px;
}

.hall__item-1,
.hall__item-2,
.hall__item-3,
.hall__item-4 {
	position: relative;
	display: block;
	width: 580px;
	height: 349px;
	padding-top: 8%;
	text-align: center;
	text-transform: uppercase;
	font-size: 70px;
	font-weight: 700;
	background-repeat: no-repeat;
}

.hall__item-1 {
	background-image: url(../img/hall-1.jpg);
}

.hall__item-2 {
	background-image: url(../img/hall-star.jpg);
}

.hall__item-3 {
	background-image: url(../img/hall-wild.jpg);
}

.hall__item-4 {
	margin-bottom: 0;
	background-image: url(../img/hall-neon.jpg);
}
