.header {
	padding-top: 38px;
}

.nav__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__header--list {
	display: flex;
	gap: 40px;
}

.nav__header--link {
	font-weight: 400;
	font-size: 22px;
	line-height: 50px;
	text-transform: uppercase;
	color: #ffffff;
	transition: 0.5s;
}

.nav__header--link:hover {
	border-bottom: 1px solid #cd06ff;
}

.nav__header--btn {
	width: 280px;
	border: 3px solid #cd06ff;
	border-radius: 10px;

	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;

	background-color: #1b1a1b;
	color: #ffffff;

	padding: 9px 29px;
	transition: all 0.3s;
}
.nav__header--btn:hover {
	border: 3px solid #fff;
}
