:root {
	/* шрифт текста */
	--font-family: 'Arial', sans-serif;
	/* фокус TAB */
	--color-focus-tab: #cd06ff;
	/* burger menu */
	--timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	--nav-width-desktop: 40em;
	--nav-width-mobile: 25em;
	--nav-item-nb: 6;
}

.header {
	/* цвет кнопки */
	--color-btn_usual-border: #cd06ff;
	--color-btn_hover: #6c0287;
	--color-btn_active: #640aa3;
	--color-btn_focus: #6c0287;
}
.vr-block {
	/* цвет кнопки */
	--color-btn_usual: #6c0287;
	--color-btn_hover: #840aa3;
	--color-btn_active: #640aa3;
	--color-btn_focus: #840aa3;
}
