.we-have {
	padding-bottom: 120px;
}
.we-have__title {
	max-width: 880px;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	margin-bottom: 40px;
}
.we-have__cart--list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px 20px;
}

.we-have__cart--item-1,
.we-have__cart--item-2,
.we-have__cart--item-3,
.we-have__cart--item-4,
.we-have__cart--item-5,
.we-have__cart--item-6 {
	position: relative;
	display: block;
	width: 380px;
	height: 228px;
	padding-top: 14%;
	padding-left: 40px;
	font-size: 20px;
	line-height: 28px;
	text-align: left;
	background-repeat: no-repeat;
	transition: all 0.2s;
}

.we-have__cart--list :hover {
	transform: scale(1.1);
}
.we-have__cart--item-1 {
	background-image: url(../img/vr.jpg);
}
.we-have__cart--item-2 {
	translate: 0px 70px;
	background-image: url(../img/audio.jpg);
}

.we-have__cart--item-3 {
	background-image: url(../img/micro.jpg);
}
.we-have__cart--item-4 {
	background-image: url(../img/game.jpg);
}
.we-have__cart--item-5 {
	translate: 0px 70px;
	background-image: url(../img/netflix.jpg);
}
.we-have__cart--item-6 {
	background-image: url(../img/sony.jpg);
}

@media (max-width: 1024px) {
	.we-have {
		padding-bottom: 90px;
	}
	.we-have__title {
		max-width: 529px;
	}
	.title {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		margin-bottom: 36px;
	}

	.we-have__cart--list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px 20px;
	}

	.we-have__cart--item-1,
	.we-have__cart--item-2,
	.we-have__cart--item-3,
	.we-have__cart--item-4,
	.we-have__cart--item-5,
	.we-have__cart--item-6 {
		position: relative;
		display: block;
		width: 287px;
		height: 172px;
		padding-top: 12%;
		padding-left: 20px;
		font-size: 20px;
		line-height: 28px;
		text-align: left;
		background-repeat: no-repeat;
		transition: all 0.2s;
	}

	.we-have__cart--item-1 {
		background-image: url(../img/we-have__cart1024/vr.jpg);
	}
	.we-have__cart--item-2 {
		translate: 0px 53px;
		background-image: url(../img/we-have__cart1024/audio.jpg);
	}

	.we-have__cart--item-3 {
		background-image: url(../img/we-have__cart1024/karaoke.jpg);
	}
	.we-have__cart--item-4 {
		background-image: url(../img/we-have__cart1024/game.jpg);
	}
	.we-have__cart--item-5 {
		translate: 0px 53px;
		background-image: url(../img/we-have__cart1024/netflix.jpg);
	}
	.we-have__cart--item-6 {
		background-image: url(../img/we-have__cart1024/plаystаtiоn.jpg);
	}

	.we-have__cart--link {
		font-size: 20px;
		line-height: 28px;
	}
}
@media (max-width: 768px) {
	.we-have {
		padding-bottom: 60px;
	}
	.title {
		font-size: 24px;
		line-height: 36px;

		margin-bottom: 30px;
	}

	.we-have__cart--list {
		display: flex;
		justify-content: center;
		gap: 20px 20px;
	}

	.we-have__cart--item-1,
	.we-have__cart--item-2,
	.we-have__cart--item-3,
	.we-have__cart--item-4,
	.we-have__cart--item-5,
	.we-have__cart--item-6 {
		position: relative;
		display: block;
		max-width: 334px;
		height: 200px;
		padding-top: 15%;
		padding-left: 30px;
		font-size: 20px;
		line-height: 28px;
		text-align: left;
		background-repeat: no-repeat;
		background-size: contain;
		transition: all 0.2s;
		translate: 0px 0px;
	}
}
@media (max-width: 480px) {
	.we-have {
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
	}
	.we-have__wrapper {
		width: 440px;
	}
	.we-have__title {
		max-width: 529px;
		max-width: 280px;
	}
	.title {
		font-size: 14px;
		line-height: 18px;

		margin-bottom: 15px;
	}

	.we-have__cart--list {
		display: flex;
		justify-content: center;
		gap: 10px 10px;
	}

	.we-have__cart--item-1,
	.we-have__cart--item-2,
	.we-have__cart--item-3,
	.we-have__cart--item-4,
	.we-have__cart--item-5,
	.we-have__cart--item-6 {
		position: relative;
		display: block;
		max-width: 200px;
		height: 110px;
		padding-top: 10%;
		padding-left: 14px;
		text-align: left;
		background-repeat: no-repeat;
		transition: all 0.2s;
	}
	.we-have__cart--link {
		font-size: 14px;
		line-height: 10px;
	}
}
@media (max-width: 320px) {
	.we-have {
		display: flex;
		justify-content: center;
		padding-bottom: 15px;
	}
	.we-have__wrapper {
		width: 280px;
	}
	.title {
		font-size: 14px;
		line-height: 18px;

		margin-bottom: 15px;
	}

	.we-have__cart--list {
		display: flex;
		justify-content: center;
	}

	.we-have__cart--item-1,
	.we-have__cart--item-2,
	.we-have__cart--item-3,
	.we-have__cart--item-4,
	.we-have__cart--item-5,
	.we-have__cart--item-6 {
		position: relative;
		display: block;
		max-width: 135px;
		height: 75px;
		padding-top: 12%;
		padding-left: 10px;
		font-size: 10px;
		line-height: 14px;
		text-align: left;
		background-repeat: no-repeat;
		transition: all 0.2s;
	}
	.we-have__cart--link {
		font-size: 10px;
		line-height: 14px;
	}
}
